/* ---------- TABLET (max-width: 1024px) ---------- */
@media (max-width: 1024px) {

    .navbar {
        width: 95%;
    }

    .bed {
        width: 95%;
        flex-direction: column;
        height: auto;
    }

    .left, .right {
        width: 100%;
    }

    .left {
        font-size: 28px;
    }

    .shopbutton {
        gap: 30px;
        flex-wrap: wrap;
    }

    .rank {
        gap: 20px;
        flex-wrap: wrap;
    }

    .services {
        width: 90%;
        flex-direction: column;
        height: auto;
        padding-top: 100px;
    }

    .left1, .right1 {
        width: 100%;
        text-align: center;
    }

    .left1 img {
        width: 100%;
        height: auto;
    }

    .threebox {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }

    .box, .box2 {
        width: 100%;
    }
}


/* ---------- MOBILE (max-width: 600px) ---------- */
@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        height: auto;
        gap: 15px;
        padding: 15px 0;
    }

    .home {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home a {
        font-size: 2.4vw;
        margin: 8px;
        

    }
    #login{
        background-color: #fbc000;
        border: none;
        border-radius: 2px;
        color: black;
        

    }
    .login{
        padding-top: 20px;
        font-size: 2vw;
        
    }

    .page1 {
        height: auto;
        padding-bottom: 50px;
    }

    .left h1 {
        font-size: 8vw;
        text-align: center;
    }
   

    .left p {
        font-size: 2.4vw;
        line-height: 23px;
        text-align: center;
    }

    .shopbutton {
        justify-content: center;
        display: flex;
        gap: 30px;
    }

    .shopbutton button {
        width: 120px;
        height: 45px;
    }

    .rank {
        justify-content: center;
        text-align: center;
        padding-bottom: 30px;
        gap: 50px;
        font-size: 3vw;
        
    }
  

    .right .down {
        flex-direction: column;
        height: auto;
    }

    .right .down img {
        height: 120px;
    }

    .right1 h1 {
        font-size: 30px;
    }

    .right1 p {
        font-size: 15px;
    }

    .first, .second, .third {
        width: 100%;
        font-size: 16px;
    }

    .topselling h1 {
        font-size: 30px;
    }

    .topselling p {
        font-size: 14px;
    }

    .box .dollar p {
        margin-left: auto;
        margin-right: 10px;
        width: 80px;
    }
    .logo {
    font-size: 7vw;
    cursor: pointer;
}


}
