* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.page1{
    background-color: #152532;
    width: 100%;
    height: 700px;
    
}


.navbar {
    height: 100px;
    width: 80%;

    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}

.logo {
    font-size: 25px;
    cursor: pointer;
}



.home a {
    margin: 14px;
    font-size: 13px;
    user-select: none;
}
.home :hover{
    color: #fbc104;
        cursor: pointer;


}
.login :hover{
    background-color: #fbc000;
    color: black;
    cursor: pointer;
    transition: 0.3s linear;
}

button {
    font-size: 14px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    height: 35px;
    width: 90px;
}

.bed {
    height: 400px;
    width: 80%;
    /* background-color: #152532; */
    display: flex;
    margin: auto;
    padding-top: 30px;
}



.left {
    width: 60%;
    color: white;
    font-family: sans-serif;
 
    
    

    font-size: 35px; 
} 

.right {
    width: 40%;

    /* background-color: yellow; */


}

.left p {
    font-size: 15px;
    padding-top: 20px;
    align-items: last;
    font-family: Arial, Helvetica, sans-serif;
}

.shopbutton {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 80px;
    margin-top: 60px;
 


}

.rank {

    display: flex;
    gap: 43px;
    padding-top: 60px;
    font-size: 15px;
    line-height: 15px;
    align-items: center;
}

.rank p {
  
    font-size: 11px;
    
}

.rank h1 {
    color: #fbc000;
}

.shopbutton button {
    background-color: #fbc000;
    color: black;
    border: none;
    cursor: pointer;
    height: 55px;
    width: 140px;
}

.shopbutton button:nth-last-child(1) {
    background: none;

    color: white;
    border: 1px solid white;
    cursor: pointer;

}
.right{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.down{
    margin-top: 25px;
    padding-top: 28px;
    gap: 20px;
    display: flex;
    height: 129PX;
    width: 100%;
    object-fit: cover;
    /* width: 30%; */
}

.services{
    /* padding-top: 45px; */
    padding-top: 200px;
    color:#152532;
    display: flex;
    height: 650px;
    width: 70%;
    /* border: 2px solid black; */
    margin: auto;

}


.left1{
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
}

.right1{
      height: 100%;
    width: 50%;
    /* border: 2px solid black; */

}

.left1 img{
    box-shadow: 0px 2px 8px;
    height: 445px;
    width: 445px;
    margin-bottom: 10px;
}

.right1 h1{
    font-size: 50px;


}

.right1 p{
    font-size: 18px;
    padding-top: 23px;
    color: rgb(37, 36, 36);

}

.first{ 
    height: 70px;
    width: 80%;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;

  
    gap: 20px;
    font-size: 19px;



}
.first i{
    font-size: 25px;
    color:#ce9f04;
    
}
.second{ 
    height: 70px;
    width: 80%;
    display: flex;
    margin-top: 20px;
    /* border: 2px solid black; */
    align-items: center;
  
    gap: 20px;
    font-size: 19px;



}
.second i{
    font-size: 25px;
    color: #ce9f04;
    
}
.third{ 
    height: 70px;
    width: 80%;
    display: flex;
    margin-top: 20px;
    /* border: 2px solid black; */
    align-items: center;
  
    gap: 20px;
    font-size: 19px;



}
.third i{
    font-size: 25px;
    color: #ce9f04;
    
}

.topselling{
    height: 150px;
    width: 80%;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 90px;
}
.topselling h1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 90px; */
    font-size: 50px;
    color:#152532;

}
.topselling p{
    display: flex;
    align-items:first baseline;
    justify-content:center;
    text-align: center;
    margin-top: 15px;
    font-size: 19px;
    



}

.threebox{

    height: 450px;
    width: 80%;
    /* border: 2px solid rgb(223, 208, 208); */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    height: 450px;
    width: 30%;
    /* border: 2px solid black; */

}
.box{
    height: 450px;
    width: 30%;
    /* border: 2px solid black; */

}
.box{
    height: 450px;
    width: 30%;
    border: 2px solid black;d

}

.box img{
    height: 100%;
    width: 100%;
}
.box2{
    height: 450px;
    width: 30%;
    border: 1px solid black;
    background-color: #243f55;

}

.box2 img{
    height: 100%;
    width: 100%;
}
.box .dollar{
    height: 40px;
    width: 100%;
    /* border: 1px solid black; */
        margin-top: 3px; 

    

   

}
.box .dollar p{
    border-radius: 4px;
    background-color: #fbc000;
    text-align: center;
    width: 20%;
    height: 100%;
    margin-left: 312px;
    /* border: 1px solid black; */
     display: flex;
    justify-content: center;
    align-items: center;
}


